.sidebar{
    position: fixed;
    left: 0;
    bottom:0;
    top: 55px;
    background-color: black;
    color: white;
    width: 72px;
    z-index:200 ;
    padding-top: 5px;
}
.sidebar-link{
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(186, 184, 184);
}
.sidebar-link img{
    height: 28px;
    width: 64;
    margin-bottom: 4px;

}
.sidebar-link div{
    font-family: Roboto,arial;
    font-size: 10px;
}